.header { 
  display: flex;
  align-items: center;
  
}

.header .logo {
  height: 32px;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .title-group {
  padding-left: 40px;
}

.header .title-group i {
  padding-right: 5px;
}